[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
skcode = {git = "https://github.com/TamiaLab/PySkCode.git"}

[dev-packages]
ipython = "*"

[requires]
python_version = "3.8"
